@import url('https://fonts.googleapis.com/css?family=Oxygen:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600m,700');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro::100,200,300,400,500,600,700');

/* ---------------------------------------------Text Margins-------- */

.col-lg-6 {
    padding: 0 0 0 0;
}

/* ---------------------------------------------Navigation Bar-------- */

.logo {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: 3px;
    color: black;
    padding: 0 0 0 2vw;
}

.nav-link {
    color: white;
    font-size: 2vw;
    font-family: "Maven Pro", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

/* ---------------------------------------------Footer-------- */

/* Email Button */

/* Instagram and LinkedIn Buttons */
.btn-outline-dark {
    font-weight: 700;
    font-size: 3vh;
    border: none;
    color: #ffffff;
    margin: auto;
}

/* Email Button */
.email-button {
    margin: auto;
    color: #000000;
    font-family: "Allerta Stencil", sans-serif;
    background-color: white;
    font-size: 2vh;
    font-weight: 500;
}

.footer-background {
    background-color: black;
}

.card, .text-center {
    border: none;
}

/* ---------------------------------------------Layout features for all pages-------- */


.header-padding {
    padding-top: 15vh;
}

/* Margin for text in header boxes */
.header-text {
    margin: 0 0 5% 10%;
}

/* Widths to avoid stretching to edge of screen */
.max-width {
    max-width: 80%;
    margin: 0 10%;
}

/* ---------------------------------------------Fonts for all pages-------- */

/* Hero-text in headers */
h1.header {
    color: white;
    font-family: "Maven Pro", sans-serif;
    font-size: 10vw;
}

/* Sub-text in headers */
h3.header {
    color: white;
    font-family: "Maven Pro", sans-serif;
    font-size: 5vw;
}

/* Copy sections */
.large-text h3 {
    padding: 2vh 5vh;
    font-family: "Maven Pro", sans-serif;
    color: black;
    font-size: 2vw;
    font-weight: 300;
}

/* Larger Copy Text on Members Page */
.large-text h2 {
    padding: 2vh 5vh;
    font-family: "Maven Pro", sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

/* Used on the contact page */
.large-text-white h2 {
    padding: 1vh 1vh;
    font-family: "Maven Pro", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

/* Testimonials */
.small-text h5 {
    padding: 1.5vh 0;
    font-family: "Maven Pro", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

/* Bar above the footer */
.contact-bar h2 {
    font-family: "Maven Pro", sans-serif;
    font-size: 40px;
    height: 20vh;
    color: black;
}

/* Tier headings*/
.small-text h3 {
    padding: 3vh 0;
    font-family: "Maven Pro", sans-serif;
    color:black;
    font-weight: 200;
    font-size: 30px;
    font-weight: bold;
}

/* List Items*/
.small-text li {
    font-family: "Maven Pro", sans-serif;
    color: black;
    font-weight: 200;
    font-size: 20px;
}

/* Names in testimonials*/
.small-caption-text h5 {
    padding: 3vh 0;
    font-family: "Maven Pro", sans-serif;
    color: white;
    font-weight: bold;
}

/* Dividing Bar */
.breathing-space {
    height: 3vh;
    margin: none;
    border: none;
    background-color: white;   
}

/* Standard Submit Button */
.submit-button {
    font-size: 20px;
    color: white;
    background-color: #000;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 2vh 0;
}

/* ---------------------------------------------Homepage-------- */

.welcome-home {
    background-image: url("../images/ioana-cristiana-AH-Z-qq3Mvc-unsplash.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

/* Margins for text paragraphs on homepage */
.home-first-para h3 {
    margin: 0 0 0 20%;
}

.home-second-para h3 {
    margin: 0 20% 0 0;
}

.image-1 {
    width: 100%;
}

.image-2 {
    width: 100%;
}

.my-auto {
    padding: 0 0 0 0;
}

.image-3 {
    background-image: url("../images/rhondak-native-florida-folk-artist-_Yc7OtfFn-0-unsplash.jpg");
    background-size: 100% auto;
}

.testimonial-image-1 {
    background-image: url("../images/allef-vinicius-P2BoE6tb8ig-unsplash.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.testimonial-image-2 {
    background-image: url("../images/kenny-luo-xyC3Bx8FXnI-unsplash.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.testimonial-image-3 {
    background-image: url("../images/szabo-viktor-6zEfniBMs6c-unsplash.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.testimonial-image-4 {
    background-image: url("../images/juliet-furst-tFteUnwflA0-unsplash.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.h5-small {
    display: none;
}

/* ---------------------------------------------Join Us Page-------- */

.join-rates {
    background-color: #8bf0ba;
}

.join-hero {
    background-image: url("../images/emarts-emarts-ZCTh4f4mv18-unsplash.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
}

.join-intro-image {
    width: 100%;
}

.join-image-1 {
    background-image: url("../images/andrew-neel-QLqNalPe0RA-unsplash.jpg");
    background-size: 100% auto;
}

.join-image-2 {
    background-image: url("../images/jennifer-burk-CHG8eMpD1Aw-unsplash.jpg");
    background-size: 100% auto;
}

.join-body-para {
    padding: 0 5% 0 0;
}



/* ---------------------------------------------Members-------- */

.members-intro {
    background-image: url("../images/szabo-viktor-6zEfniBMs6c-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.members-booking {
    background-color: #f2b1d8;
}

.buffer-booking {
    background-color: #f2b1d8;
}

.members-directory {
    background-color: #94f0f1;
}

.buffer-directory {
    background-color: #94f0f1;
}

.members-directory, .members-booking label {
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
    padding-top: 10px;
}

/* Text on members page form and application form */
.application-form label {
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 400;
}

.member-form {
    padding-left: 3vw;
    padding-right: 3vw;
}
/* ---------------------------------------------Apply Page-------- */

/* Hero Image on Application Page */
.tier-1-hero {
    background-image: url("../images/daniel-chekalov-OxU08SFhPbI-unsplash.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
}

.form-col {
    padding: 1.5vh 1.5vh;
}

.application-form {
    padding-top: 20px;
}

.submit-button {
    background-color: #000;
    color: white;
}

.form-check {
    padding: 0 5vw 0 0;
    margin: 0 0 0 40px;
}

.description-text p {
    font-family: "Maven Pro", sans-serif;
    font-size: 15px;
    color: grey;
}

/* .max-width .join-row-stretch {
    max-width: 80%;
    margin: 0 0;
    }
} */

/* ---------------------------------------------Contact Page-------- */

.contact-map {
    background-color: white;
}

.google-map {
    height: 100%;
    width: 100%;
    border: none;
    padding: none;
}

.contact-info {
    background-image: url("../images/khara-woods-KR84RpMCb0w-unsplash.jpg");
    /* background-blend-mode: darken; */
    background-size: 100% auto;
    color: black;
    text-align: left;
    padding: 100px 0;
}

.contact-info a {
    color: white;
}

.contact-intro {
    background-image: url("../images/plqml-MuGkTlj--lg-unsplash.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
}

.contact-button {
    margin: auto;
    color: black;
    font-family: "Allerta Stencil", sans-serif;
    background-color: #f2b1d8;
    font-size: 2vh;
    font-weight: 500;
}
/* ---------------------------------------------Media Queries-------- */

                                                /* General */
/* Width changes across site */
@media only screen and (max-width: 991px) {
    .max-width {
    max-width: 100%;
    margin: 0 0 0 0;
    }
}

/* Navbar Logo & Menu Items Size Change with smaller screen */
@media only screen and (max-width: 991px) {
    .logo {
        font-size: 6vh;
    }
    .nav-link {
        font-size: 20px;
    }
}

/* Text in hero banners on every page */
@media only screen and (max-width: 767px) {
    .header-text h1.header {
        font-size: 9vh;
    }

    .header-text h3.header {
        font-size: 5vh;
    }
}

                                            /* Join & Application Pages */

@media only screen and (max-width: 991px) {
    /* Background Colours changing in smaller screens */
    .tier-text-1 {
        background-color: #ffdc6a;
    }

    .tier-text-2 {
        background-color: #f9f0e0;
    }

    .tier-text-3 {
        background-color: #94f0f1;
    }

    .tier-text-4 {
        background-color: #f2b1d8;
    }

    .join-hero {
    background-image: url("../images/emarts-emarts-ZCTh4f4mv18-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    }
}
@media only screen and (max-width: 991px) {
    .join-body-para {
        padding: 0 5vw 0 5vw;
    }
}

@media only screen and (max-width: 425px) {
    .application-form label {
        font-size: 3vh;
    }
}



                                            /* Homepage */

/* Margins and Padding Changes */
@media only screen and (max-width: 767px) {
/* Body Copy Margins removed in small screen */
    .large-text h3 {
    color: black;
    margin: 0 0 0 0;
    font-size: 18px;
    }
}

/* Testimonial Text and Image Changes */
@media only screen and (max-width: 767px) {
/* Text with captions */
  .small-text h5 {
    padding: 3vh 0;
    font-family: "Maven Pro", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10% 0 10%;
    }

/* Small text displaying names which disappears in small screen */
    .small-caption-text h5 {
    display: none;
    }

/* John Doe, floating name appearing in small screen */
    .h5-small {
    display: block;
    }
}

/* Testimonial Images */
@media only screen and (max-width: 767px) {
    .testimonial-text-1 {
    background-image: url("../images/allef-vinicius-P2BoE6tb8ig-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    .testimonial-text-2 {
    background-image: url("../images/kenny-luo-xyC3Bx8FXnI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    .testimonial-text-3 {
    background-image: url("../images/szabo-viktor-6zEfniBMs6c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    .testimonial-text-4 {
    background-image: url("../images/juliet-furst-tFteUnwflA0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }


/* Contact Bar */
@media only screen and (max-width: 991px) {
    .homepage-contact-bar {
    background-image: url("../images/rhondak-native-florida-folk-artist-_Yc7OtfFn-0-unsplash.jpg");
    }

    /* Text in bar above the footer */
    .contact-bar h2 {
    font-family: "Maven Pro", sans-serif;
    font-size: 30px;
    color: white;
    margin: 5% 0 0 15%;
    }
}

/* Intro Image Smaller on small screen */
@media only screen and (max-width: 991px) {
    .join-intro-image {
        /* height: 60vh; */
        width: 100%
        object-fit: contain;
    }
}



                                                /* Members Page */

@media only screen and (max-width: 991px) {
    .tier-1-hero {
    background-image: url("../images/daniel-chekalov-OxU08SFhPbI-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    }   
}

/* Contact Page */

/* Contact details background */
@media only screen and (max-width: 991px) {
    .contact-info {
    background-image: none;
    background-color: #f2b1d8;
    }
}

@media only screen and (max-width: 991px) {
    .contact-map {
        height: 45vh;
        padding: 0 0 3vh 0;
    }

