@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap|Oswald');

/* ---------------------------------------------Logo-------- */
.logo {
    color: red;
    font-family: "Oxygen", sans-serif;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 6px;
}

h2 {
    color: blue;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
}
/* ---------------------------------------------Home Page-------- */

.home-intro {
    height: 400px;
    border: 1px solid black;
}
